@font-face {
    font-family: "roboto-medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto-light";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

body{
	margin: 0;
	background: #EEEEEE;
	font-family: "roboto-medium";
}

h1{
	font-size: 50px;
	text-align: center;
	font-family: "roboto-bold";
	margin: 40px auto;
}

h2{
	margin-bottom: 30px;
}

#rules{
	background: white;
	padding: 16px 30px 30px;
	width: 800px;
	margin: auto;
	text-align: center;
	border-radius: 2px;
	margin-bottom: 20px;
}

#rules p{
	font-size: 16px;
}

.settings{
	background: white;
	padding: 16px 30px 30px;
	width: 800px;
	margin: auto;
	text-align: center;
	border-radius: 2px;
}

label{
	font-size: 16px;
	font-weight: normal;
	left: 0;
}

label+label{
	margin-left: 30px;
}

.newgame{
	display: block;
	margin: auto;
	margin-top: 20px;
}

#game{
	margin: 20px auto;
}

#panel{
	background: white;
	padding: 30px;
	margin: auto;
	margin-bottom: 20px;
}

#panel h4{
	text-align: center;
}

#infos{
	margin: 0;
	margin-bottom: 20px;
}

#colorPanel{
	height: 40px;
}

#board{
	background: white;
	margin: auto;
	padding: 30px;
}

.cell{
	height: 40px;
	width: 40px;
	border: 2px solid white;
	float: left;
	transition: transform .3s ease;
}

/*blue*/
.cell[state='0']{
	background: #0277BD;
}
/*green*/
.cell[state='1']{
	background: #4CAF50;
}
/*red*/
.cell[state='2']{
	background: #F44336;
}
/*yellow*/
.cell[state='3']{
	background: #FFEB3B;
}
/*teal*/
.cell[state='4']{
	background: #26A69A;
}
/*orange*/
.cell[state='5']{
	background: #FF9800;
}
/*grey*/
.cell[state='6']{
	background: #BDBDBD;
}
/*black*/
.cell[state='7']{
	background: #131313;
}
/*brown*/
.cell[state='8']{
	background: #795548;
}